<div class="navigation-wrapper">
  <div [routerLink]="['/home']" class="logo"><h1>The Nineties Store</h1></div>
  <div class="links">
    <p [routerLink]="['/home']" routerLinkActive="active">Home</p>
    <p [routerLink]="['/reports']" routerLinkActive="active">Reports</p>
  </div>
  <div class="cart">
    <p *ngIf="_product.home" (click)="_cart.toggleCartDisplay()"><i class="fas fa-shopping-cart"></i></p>
    <p *ngIf="_product.admin" (click)="_product.toggleAdminAddProductBox()"><i class="fas fa-plus"></i></p>
  </div>
</div>

<div *ngIf="_cart.cartDisplayButton">
  <app-cart></app-cart>
</div>

<div *ngIf="_product.adminAddProductToggle">
  <app-add-product></app-add-product>
</div>

